.admin-container {
  display: flex;
  height: calc(100vh - 60px); 
}

.sidebar {
  flex: 0 0 250px;
  background-color: #f8f9fa;
  padding: 1rem;
  border-right: 1px solid #dee2e6;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}