<header class="main-header fixed-top">
  <nav class="container navbar">
    <a class="navbar-brand me-4" href="#">
      <span class="logo-text">FichaGen</span>
    </a>

    <form class="d-flex flex-grow-1" role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>

    <button *ngIf="isAdmin" class="btn btn-outline-light ms-3" routerLink="/admin/magias">Painel Admin</button>
  </nav>
</header>

<div class="home-wrapper d-flex justify-content-start align-items-start">
  <div class="d-flex justify-content-center align-items-center m-5">
    <!-- O (click) aqui vai chamar o método para abrir o modal -->
    <button class="btn btn-add d-flex justify-content-center align-items-center mt-5" (click)="openModal()">
      <span class="plus-icon">+</span>
    </button>
  </div>
</div>

<!-- Modal de Criação de Ficha -->
<!-- Ele só será exibido se 'isModalVisible' for verdadeiro -->
<app-create-sheet-modal *ngIf="isModalVisible" (close)="closeModal()" (create)="onSheetCreated($event)">
</app-create-sheet-modal>