/* área ocupando a tela inteira */
.home-wrapper {
  width: 100%;
  height: 100vh;
  background: #2c2c2c;
}

/* caixinha central */
.home-box {
  border-radius: 16px;
  max-width: 450px;
  width: 90%;
}

.btn-add {
  width: 200px;
  height: 200px;
  background-color: rgba(71, 71, 71, 0.089); /* azul semi-transparente */
  border: 2px solid rgba(253, 253, 253, 0.5);
  border-radius: 8px;
  font-size: 5rem;
  color: rgba(197, 197, 197, 0.7);
  transition: all 0.3s ease;
}

.btn-add .plus-icon {
  pointer-events: none; /* só para garantir que o clique vai pro botão */
}

.btn-add:hover {
  background-color: #504d4d;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  cursor: pointer;
}
